<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>Dashboard</title>
  </head>
  <body>
    <div>
      <div class="nav">
        <h6 class="nav-title">Dasboard</h6>
        <ul class="nav-links">
          <span><a class="nav-link" href="/">Home</a></span>
          <span><a class="nav-link" href="/admin/messages">Messages</a></span>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <p class="content-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias totam
        repellat recusandae veritatis sunt exercitationem, sit debitis.
        Laboriosam nisi corrupti minima temporibus explicabo cumque totam
        similique eligendi? Ab, molestiae commodi?
      </p>
      <p class="content-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, odio!
        Similique laborum voluptates accusamus expedita eum perspiciatis est
        blanditiis porro illo adipisci, esse fuga aut labore hic commodi
        possimus dignissimos.
      </p>
    </div>
  </body>
</html>
