<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <div class="sub-nav">
      <div class="page-pane">
        <p class="page-title">Your Order</p>
        <div class="">
          <form action="/checkout" method="POST">
            <button type="submit" class="checkout-btn">
              Continue
            </button>
            <input type="hidden" name="productId" value="" />
          </form>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="zero-pane">
        <p class="no-prod">No Products found</p>
      </div>
    </div>
<%- include('../includes/end.ejs') %>
